{{- if not (.Get "table") -}}
    {{- if not (.Get 0) -}}
        {{- partial "helpers/debug-tables/debug-tables-list" (dict "Page" .Page "Site" .Page.Site) -}}
    {{- else -}}
        {{- partial "helpers/debug-tables/debug-tables-list" (dict "Page" .Page "Site" .Page.Site "expandPage" (.Get 0)) -}}
    {{- end -}}
{{- else -}}
    {{- partial (printf "helpers/debug-tables/tables/%s" (.Get "table")) (dict "Page" .Page "basePage" .Page "Site" .Page.Site "baseSite" .Page.Site "expandPage" (default false (.Get "expandPage")) ) -}}
{{- end -}}