 Options Zero
{{/*  Check how many variants there are   */}}{{ $numberVariants := len .Pages}}
{{/*  See if there is gallery  */}}
{{/*  Check if the variants have gallery   */}}
{{/*  Prepare all the images for resize   */}}
{{/*  Product one image one option-variant   */}}
{{/*  Product one image multiple options-variants   */}}
{{/*  Product multiple images multiple options-variants   */}}
{{/*  Product multiple image one options-variants   */}}
{{/*  Create x-data for default options  */}}

{{/*  x-data PAGE   */}} {{ partial "product_page_xdata.html" . }}

    <div class="product-page--left">
        {{/*  COlUMN 1 / ROW 1   */}}
            {{/*  TITLE   */}} <div class="col-span-1 col-start-1 row-start-1  pl-8 text-left"> <h2 class="text-2xl  mb-2 " >{{ .Title }}</h2> </div>
        

        {{/* COlUMN 1 / ROW 1 */}}
            <div class="col-start-1 row-start-1 pl-8">
            {{/*  PRICE     */}} {{ partial "product_page_price.html" . }}
            {{/*  OPTIONS   */}} {{ partial "products_page_options.html" (dict "context" . "numberVariants" $numberVariants "ImagesResources" $.Resources  "default_variant" ($.Scratch.Get "default_variant") ) }}
            </div>
    </div>


    <div class="product-page--center w-full px-8">

        {{/*  If there is a gallery but gallery images  */}}
        {{ if .Params.gallery }}
                {{/*  GALLERY THUMBNAILS  */}} {{ partial "product_page_thumbnails.html" (dict "context" . "ImagesResources" .Resources) }}
        
                {{/*  GALLERY PRODUCT */}} {{ partial "product_page_gallery.html" . }}

        {{/*  If there are no gallery images  */}}  
        {{ else }}
            
        {{/*  SINGLE PRODUCT IMAGE   */}} {{ partial "resources_product_single_image_resize.html" (dict "context" . "ImagesResources" .Resources)}}
                
        {{ end }}

    </div>
    <div class="product-page--right">
        {{/*  COlUMN 3 / ROW 1 */}}
            {{/*  Details */}} {{ partial "product_page_details.html" . }}

    </div>

</div>

{{/*  SHARE THIS BLOCK   */}} {{ partial "sharethis.html" . }}

{{/*  RELATED PRODUCTS BLOCK   */}} {{ partial "product_page_related_products.html" . }}

