 Options Zero  test
{{/*  Check how many variants there are   */}}{{ $numberVariants := len .Pages}}
{{/*  See if there is gallery  */}}
{{/*  Check if the variants have gallery   */}}
{{/*  Prepare all the images for resize   */}}
{{/*  Product one image one option-variant   */}}
{{/*  Product one image multiple options-variants   */}}
{{/*  Product multiple images multiple options-variants   */}}
{{/*  Product multiple image one options-variants   */}}
{{/*  Create x-data for default options  */}}

{{/*  XDATA PAGE   */}} {{ partial "product_page_xdata.html" . }}

    {{/*  COlUMN 1,2 / ROW 1   */}}
        {{/*  TITLE   */}} <div class="col-span-2 col-start-1 row-start-1 pl-8 text-left"> <h2 class="text-2xl  mb-2 " >{{ .Title }}</h2> </div>
    

    {{/* COlUMN 1,2 / ROW 2 */}}
        <div class="col-span-2  md:row-start-2 md:col-start-1 lg:row-start-2 lg:row-span-2 pl-8">
        {{/*  PRICE     */}} {{ partial "product_page_price.html" . }}
        {{/*  OPTIONS   */}} {{ partial "products_page_options.html" (dict "context" . "numberVariants" $numberVariants "ImagesResources" $.Resources  "default_variant" ($.Scratch.Get "default_variant") ) }}
        </div>

    {{/* COlUMN 3 / ROW 1 */}} 
        {{/*  SINGLE PRODUCT IMAGE   */}} {{ partial "resources_product_single_image_resize.html" (dict "context" . "ImagesResources" .Resources)}}


    {{/*  COlUMN 3 / ROW 1 */}}
        {{/*  Details */}} {{ partial "product_page_details.html" . }}


</div>

{{/*  SHARE THIS BLOCK   */}} {{ partial "sharethis.html" . }}

{{/*  RELATED PRODUCTS BLOCK   */}} {{ partial "product_page_related_products.html" . }}

