{{ $numberVariants := len .Pages}}

<div class="
        grid 
        grid-flow-row 
        grid-cols-2
        grid-rows-
        md:grid-cols-5
        md:grid-rows-4
        lg:grid-cols-7  
        py-8" 
    style="grid-template-rows: auto auto 1fr;"
    x-data="{ 
    {{ range $index, $variants := .Pages }}  
    {{$index}} : {
        url: '{{$variants.Permalink  }}',
        id: '{{$variants.Params.variant_sku }}',
        retail: '{{$variants.Params.retail}}',
        price: '{{$variants.Params.variant_price}}',
        quantity: '1',
        stock: '{{ $variants.Params.stock }}',
        image: '{{ $variants.Params.image_src}}',
        options: {
        {{ if $variants.Params.option1_name}}{{ $variants.Params.option1_name}} : '{{ $variants.Params.option1_value}}',{{end}}
        {{ if $variants.Params.option2_name}}{{ $variants.Params.option2_name}} : '{{ $variants.Params.option2_value}}',{{end}}
        {{ if $variants.Params.option3_name}}{{ $variants.Params.option3_name}} : '{{ $variants.Params.option3_value}}'{{end}}
        }
    },
    {{ end }}
    {{ range first 1 .Pages }}  
    title: '{{.Title}}',
    url: '{{ .Params.url }}',
    id: '{{.Params.variant_sku }}',
    retail: '{{.Params.retail}}',
    price: '{{.Params.variant_price}}',
    {{ if $.Resources }}
        {{ $image := string .Params.image_src }}
        {{ $original := $.Resources.GetMatch $image }}
        {{ $image295w := $original.Resize "295x" }}
        {{ $image394w := $original.Resize "394x" }}
        {{ $image590w := $original.Resize "590x" }}
        {{ $image700w := $original.Resize "700x" }}
        {{ $image800w := $original.Resize "800x" }}
        {{ $image1000w := $original.Resize "1000x" }}
        {{ $image1200w := $original.Resize "1200x" }}
        {{ $image1500w := $original.Resize "1500x" }}
        {{ $image1800w := $original.Resize "1800x" }}
        {{ $image2400w := $original.Resize "2400x" }}
            image295w: '{{ $image295w.RelPermalink }}',
            image394w: '{{ $image394w.RelPermalink }}',
            image590w: '{{ $image590w.RelPermalink }}',
            image700w: '{{ $image700w.RelPermalink }}',
            image800w: '{{ $image800w.RelPermalink }}',
            image1000w: '{{ $image1000w.RelPermalink }}',
            image1200w: '{{ $image1200w.RelPermalink }}',
            image1500w: '{{ $image1500w.RelPermalink }}',
            image1800w: '{{ $image1800w.RelPermalink }}',
            image2400w: '{{ $image2400w.RelPermalink }}',
    {{ end }}
    description: '{{.Params.description}}',
    quantity: '1',
    stock: '{{ .Params.stock }}',
    tab: 'content'
    {{ end }}
    }">

{{/*  first 1/3  */}}
<div class="col-span-2 col-start-1 row-start-1 px-4 text-left">
{{/*  Title  */}}
<h2 class="text-2xl  mb-2 px-4" >{{ .Title }}</h2>
</div>

<div class="col-span-2 md:row-start-2 md:col-start-1 lg:row-start-2 lg:row-span-2 px-4">
{{/*  PRICE  */}}
<div class="flex items-baseline py-2 px-4">
<div x-text="price +  '€' "  class="flex-inline text-xl pr-2 font-robmono "></div>
<div x-text="retail + '€' "  class="flex-inline text-lg font-normal line-through " x-show="retail > 0"></div>
</div>

{{/*  Options block  */}}

<div class="flex flex-col">
    {{ if gt $numberVariants 1 }}
    <div class="selection">
        <div class="flex justify-start flex-wrap">
        {{ range .Pages  }}   
            <button 
            class="w-40 h-16 border-2 border-gray-200 text-gray-400 
            flex items-center px-4 py-2 m-2 justify-center
            hover:border-gray-800 hover:text-gray-800 
            @click:selected"
            type="radio" 
            x-on:click="
            id = '{{.Params.variant_sku}}',
            url = '{{.Params.url}}'
            price = '{{.Params.variant_price}}',
            title= '{{ .Title }}',
            {{ if $.Resources }}
            {{ $image := string .Params.image_src }}
            {{ $original := $.Resources.GetMatch $image }}
            {{ $image295w := $original.Resize "295x" }}
            {{ $image394w := $original.Resize "394x" }}
            {{ $image590w := $original.Resize "590x" }}
            {{ $image700w := $original.Resize "700x" }}
            {{ $image800w := $original.Resize "800x" }}
            {{ $image1000w := $original.Resize "1000x" }}
            {{ $image1200w := $original.Resize "1200x" }}
            {{ $image1500w := $original.Resize "1500x" }}
            {{ $image1800w := $original.Resize "1800x" }}
            {{ $image2400w := $original.Resize "2400x" }}
                image295w = '{{ $image295w.RelPermalink }}',
                image394w = '{{ $image394w.RelPermalink }}',
                image590w = '{{ $image590w.RelPermalink }}',
                image700w = '{{ $image700w.RelPermalink }}',
                image800w = '{{ $image800w.RelPermalink }}',
                image1000w = '{{ $image1000w.RelPermalink }}',
                image1200w = '{{ $image1200w.RelPermalink }}',
                image1500w = '{{ $image1500w.RelPermalink }}',
                image1800w = '{{ $image1800w.RelPermalink }}',
                image2400w = '{{ $image2400w.RelPermalink }}',
            {{ end }}
            option= '{{ .Params.option1_value }}'
            value='{{.Title}}',
            stock='{{.Params.stock}}' 
            ">          

            {{ partial "options_icons.html" . }}

            {{ .Params.option1_value }} / {{ .Params.option2_value }}
            </button>
        {{ end }}
        </div>

    </div>
    {{ end}}
{{/*  Snipcart button  */}}
<div x-text="stock" 
x-show="stock === 'out of stock' " 
class="border-2 border-gray-300 text-gray-300 w-full py-2 uppercase text-md text-center">
</div>

<button x-show="stock != 'out of stock' "
class="snipcart-add-item border-2 border-black w-full py-2 uppercase text-md"
x-bind:data-item-url="url"
x-bind:data-item-name="title"
x-bind:data-item-id="id"
x-bind:data-item-quantity = "quantity"
x-bind:data-item-image="image700w"
x-bind:data-item-price="price"
x-bind:data-item-description="description"
>
Add to cart
</button>
</div>
{{/*  end options block  */}}
</div>
{{/*  end first 1/3 */}}

{{/*  second 1/3  */}}
<div class="col-span-3 row-start-2 md:col-start-3 md:row-start-1 md:row-span-2 lg:row-span-2 lg:row-start-1 px-4">
{{/*  Image block  */}}
    <div class="flex justify-center w-full items-center h-full ">
        <img
            x-bind:alt="title"
            data-sizes="auto"
            x-bind:srcset="        
            image295w + ' 295w,' +
            image394w + ' 394w,' +
            image590w + ' 590w,' +
            image700w + ' 700w,' +
            image800w + ' 800w,' +
            image1000w + ' 1000w,' +
            image1200w + ' 1200w,' +
            image1500w + ' 1500w,' +
            image1800w + ' 1800w,' +
            image2400w + ' 2400w' 
            "
            x-bind:data-src="image700w"
            class="" />
    <!-- noscript pattern -->
        <noscript>
            <img x-bind:src="image700w" />
        </noscript>
    </div>
{{/*  end Image block  */}}
</div>
{{/*  end second 1/3 */}}



{{/*  third 1/3  */}}
<div class="col-span-2 mt-8 lg:mt-0 lg:row-start-1 lg:row-span-2 px-4">

    {{ if .Params.details }}
        <div class="flex-inline">
            <button 
            class="bg-gray-100 px-3 py-4 border-0 font-robmono" 
            x-bind:class="{ 'bg-gray-200': tab === 'content' }" 
            @click=" tab = 'content' " 
            type="button">
            Περιγραφή
            </button>

            <button 
            class="bg-gray-100 px-3 py-4 border-0 font-robmono"
            x-bind:class="{ 'bg-gray-200': tab === 'details' }"
            @click=" tab = 'details' " 
            type="button">
            Χαρακτηριστικά
            </button>
        </div>

        <div class="content py-4"  x-show=" tab ==='content' ">
            <div class="leading-relaxed">{{ .Content }}</div>
        </div>

        <div class="igredients py-4" x-show="tab === 'details' ">

        </div>

    {{ else }}   

        <div class="content py-4"  x-show=" tab ==='content' ">
            <div class="leading-relaxed">{{ .Content }}</div>
        </div>

    {{ end }}
</div>
{{/*  end third 1/3  */}}
</div>



{{ partial "sharethis.html" . }}

{{/*  RELATED PRODUCTS  */}}
{{ $related := .Site.RegularPages.RelatedIndices . "collections" | first 3 }}
Related     {{ $related }}
{{ with $related }}
<h3>See Also</h3>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}

