{{ define "main" }}

{{ .Title }}

<div class="flex container" x-data="{ 

    {{ range first 1 .Pages }}  
    title: '{{.Params.name}}',
    url: '{{.Params.url}}',
    id: '{{.Params.id }}',
    price: '{{.Params.price}}',
    beer_types: '{{.Params.beer_types}}',
    image: '/uploads/beers/{{.Params.image}}',
    description: '{{.Params.description}}',
    boximage: [],
    quantity: '1',
    box6: '12',
    box12: '24',
    box24: '48'
    {{ end }}
    }">

<div class="w-1/2 images">
    {{ range .Pages }}
        <h2 class="text-3xl font-bold" x-show="id === '{{.Params.id}}'">{{ .Params.name }}</h2>
        <div class="flex flex-col" x-show="id === '{{.Params.id}}'">
            <img class="w-40" src="/uploads/beers/{{ .Params.image }}" alt="" />
        </div>
    {{ end }}
</div>

<div class="flex flex-col">
    <div class="selection">
        <div class="flex flex-col">
        {{ range .Pages }}    
            <input 
            type="radio" 
            x-on:click="
            id = '{{.Params.id}}',
            url = '{{.Params.url}}'
            price = '{{.Params.price}}',
            title= '{{ .Params.name }}'"  
            name="syskeyasia" 
            value="{{.Params.syskevasia}}">
            <label for="{{.Params.syskevasia}}">{{.Params.syskevasia}}
            </label>
        {{ end }}
        </div>
    </div>



{{/*  COUNTER  */}}
    <div class="container">
        <button @click="quantity--">-</button>
        <input type="text" x-bind:value="quantity" />
        <button @click="quantity++">+</button>
    </div>
{{/*  PRICE  */}}
    <div x-text="price" class="text-3xl font-bold" >€</div>



    
{{/*  BOXES  */}}

<script>
    function badId() {
      return (Math.random() * 100).toFixed(0);
    }
  </script>
  <div 
  x-data="{ newTodo: '', todos: JSON.parse(localStorage.getItem('todos') || '[]') }" 
  x-init="$watch('todos', (val) => localStorage.setItem('todos', JSON.stringify(val)))">
    <div>
      <code>localStorage.getItem('todos')</code>:
      <code x-text="localStorage.getItem('todos')"></code></div>
    <div>
      <button @click="todos = []; localStorage.removeItem('todos');">
        Clear
      </button>
    </div>
    
   

        {{ range .Pages }}   
        <div><img width="32px" src="/uploads/beers/{{.Params.image}}" alt=""></div>
        <button x-on:click="
        newTodo = '/uploads/beers/{{.Params.image}}';
        todos = [].concat({ id: badId(), text: newTodo }, todos); 
        
        ">
        Add</button>
        {{ end }}
      

    
    <ul class="flex w-80 ">Todos:
      <template x-for="todo in todos" :key="todo.id">
        <li class="flex-1">
          <img x-bind:src="todo.text"></img>
          <button @click="todos = todos.filter(t => t.id !== todo.id)">x</button>
        </li>
      </template>
    </ul>
  </div>



<h2>Box</h2>
<h3 x-text="title"></h3>
<div class="flex justify-around my-8">
{{ range .Pages }}
{{ $id := .Params.id }}
    {{ range .Params.box }}
    <button 
    class="bg-gray-200 mx-8 px-8 py-4 hover:bg-blue-100" 
    x-show="id === '{{$id}}'" 
    x-on:click="
    price = '{{ index . "price" }}',
    quantity = ''
    ">
    Box {{ index . "name" }} / {{ index . "price" }}€</button>
    {{ end }}
{{ end }}
</div>

{{/*  Snipcart button  */}}
<button
class="snipcart-add-item buy-button"
x-bind:data-item-url="url"
x-bind:data-item-name="title"
x-bind:data-item-id="id"
x-bind:data-item-quantity = "quantity"
x-bind:data-item-image="image"
x-bind:data-item-price="price"
x-bind:data-item-description="description"
x-bind:data-item-price-box6="12"
x-bind:data-item-price-box12="24"
x-bind:data-item-price-box24="48"
>
Add to cart
</button>

</div>
{{/*  end details block  */}}
</div>
{{ end }}
