<!DOCTYPE html>
<html lang="el">

    {{ partial "head.html" . }}
<body>

{{ block "template" . }}{{ end }}

<a style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;" href="#main-content"> Skip to main content </a>

{{ if .IsHome }}
    {{ partial "header_frontpage.html" . }}
{{ else }}
    {{ partial "header_allpages.html" . }}
{{ end }}
{{ if ne .Kind "home"}}
{{ partial "breadcrumb.html" . }}
{{ end }}
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}

    {{ partial "footer.html" . }}
    {{ partial "footer_scripts.html" . }}

    {{ partial "debug/templates_debug" (dict "Which" .Kind "Type" .Type "Template" (.Scratch.Get "templatePath" )) }}
    {{ partial "debug/functions_strings.html" . }}
    {{ partial "debug/range_pages.html" . }}

  </body>
</html>