{{ define "main" }}


    <h2 class="product__name">{{ .Title }}</h2>
  


    <div class="flex">{{.Params.brand}}</div>
    <div class="flex">{{.Params.titlegrlarge}}</div>
    <div class="flex">{{.Params.titleenlarge}}</div>
    <div class="flex">{{.Params.website}}</div>
    <div class="flex">{{.Params.facebook}}</div>
    <div class="flex">{{.Params.city}}</div>
    <div class="flex">{{.Params.brewery}}</div>
    <div class="flex">{{.Params.beers}}</div>
    <div class="flex">{{.Params.year}}</div>
    <div class="flex">{{.Params.address}}</div>
    <div class="flex">{{.Params.phone}}</div>




    <p class="product__description">{{ .Content }}</p>




  {{ end }}