
/* https://github.com/bep/hugo-starter-tailwind-basic/blob/master/assets/css/styles.css */


@import 'node_modules/swiper/swiper-bundle.css';

@font-face {
    font-family: 'Roboto-Regular';
    src:url('../fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}


body {
    @apply font-robregular;
}
h2 {
    @apply font-robmono;
}
.selected {
    @apply text-gray-800 border-gray-800;
}

.header--language a {
  @apply font-robmono;
}

[x-cloak] {
    display: none !important;
}
.input__field:checked + .button, {
    @apply border-gray-800;
}
.input__field::focus + .button {
    @apply border-gray-500;
}
.turbo-progress-bar {
    height: 5px;
    background-color: green;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
