<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
<script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<div hidden id="snipcart" data-api-key="NTJlNjVhYWQtMjMxZi00MTA3LWJmYTEtNGUxMDY5YjgwMWNj" data-config-modal-style="side"></div>
<!-- Initialize Swiper -->
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.heroslideshow', {
      pagination: {
        el: '.swiper-pagination',
        type: 'progressbar',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>

  <script>
    var swiper = new Swiper('.productspromoted', {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
            nextEl: '.productspromoted',
            prevEl: '.productspromoted',
          },
      });
  </script>

</body>
</html>