<div class="flex">
    <div class="relative h-full w-full">
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0289/0326/files/deli-instagram_2800x.jpg?v=1605557691" alt="">
        </div>
        <div class="absolute top-0 flex justify-center items-center w-full h-full  ">
            <div class="w-8/12 w-3/4 md:w-1/2 text-center bg-white p-8 ">
                <h2 class="pb-2 font-robmono text-xl"> Follow The Deli Co </h2>
                <p class="pb-2 font-robmono">Follow us on instagram for daily news, recipes, store updates and #foodspiration</p>
                <a class="pb-1 font-robmono border-b border-gray-800" href="https://www.instagram.com/troop.blockshop.deli/">
                    Follow @thedelico
                </a>
            </div>
        </div>
    </div>
</div>