<style>
    @media only screen and (max-width: 600px) { 
      .productspromoted {
        height: 40vh; }
      }
    @media only screen and (min-width: 1440px) { 
      .productspromoted {
        height: 60vh; }
      }
      @media only screen and (min-width: 1920px) { 
      .productspromoted {
        height: 60vh; }
      }
  </style>
  
<div class="bg-white mb-6 py-4 px-4" >
<h2 class="text-center text-xl py-6 ">Popular this week</h2>


<div class="swiper-container productspromoted"  >

<div class="swiper-wrapper">

{{ range $index := .Params.products }}
    {{ $product := path.Join "/variants" $index "_index.md" }}
    {{ with $.Site.GetPage $product }}
        <div class="swiper-slide  flex-col flex justify-center" >
            <a class="p-4" href="{{ .Permalink }}">
                {{ partial "resources_product_single_image_resize.html" (dict "context" . "ImagesResources" .Resources)}}
                <div class="text-center text-back">{{ .Params.title }}</div>
                <div class="text-center text-back">{{ .Params.variant_price }}</div>
            </a>
        </div>
    {{ end}}
{{ end }}

<div class="swiper-pagination"></div>
</div>
<!-- SWIPEPR WRAPPER  -->
<div class="swiper-button-prev productspromoted-prev"></div>
<div class="swiper-button-next productspromoted-next"></div>

</div>
</div>
