<div class="bg-white mb-6 py-4 px-4" >
<h2 class="text-center text-xl py-6 ">Popular this week</h2>


<div class="swiper-container productspromoted"  style="width:100%;height:60vh">

<div class="swiper-wrapper">


{{ range $index := .Params.products }}

{{ $product := printf "/variants/%s/" $index }}

{{ with $.Site.GetPage $product }}

<div class="swiper-slide  flex-col flex" >
    <a 
    class=" p-4 "
    href="{{ "products/" | relLangURL }}{{.Params.products }}">


      
    </a>

<div class="text-center text-back">{{ .Params.name }}</div>
<div class="text-center text-back">{{ .Params.price }}</div>

</div>

{{ end}}
{{ end }}


</div>
<!-- SWIPEPR WRAPPER  -->
<div class="swiper-button-prev productspromoted-prev"></div>
<div class="swiper-button-next productspromoted-next"></div>

</div>
</div>
