<div class="flex w-full">
    <div class="w-full flex flex-wrap">
        {{ range .Site.Params.collections_featured }}
            {{ $featured := printf "/collections/%s/" .collection }}
                <div class="w-1/2">
                    {{ with $.Site.GetPage $featured }}
                            {{ $image := string .Params.image_featured }}
                            {{ $original := .Resources.GetMatch $image }}
                        {{ end }}
                </div>
                   
                <div class="w-1/2">
                    <h2>{{ .title }}</h2>
                    <p>{{ .text }}</p>
                    <a href="{{ path.Join "collections" .collection | relLangURL}}">{{ .link_title }}</a>
                </div>
        {{ end }}



       
    </div>
    <div class="w-full flex flex-wrap">
        <div class="w-1/2"></div>
        <div class="w-1/2"><img src="" alt=""></div>
    </div>
</div>