<div class="bg-gray-100 ">
<div class="mb-6 py-8 px-4 max-w-screen-xl mx-auto">
    <h2 class="text-center text-xl py-6 ">{{ i18n "fontpage_promotedproduct"}}</h2>
    
    
    {{ with  .Site.GetPage "/variants/giftcard"}}
    {{ $numberVariants := len .Pages}}
    
    <div class="grid grid-cols-1 md:grid-cols-2" 
         x-data="{ 
        {{ range $index, $variants := .Pages }}  
        {{$index}} : {
            url: '{{$variants.Permalink  }}',
            id: '{{$variants.Params.variant_sku }}',
            retail: '{{$variants.Params.retail}}',
            price: '{{$variants.Params.variant_price}}',
            quantity: '1',
            stock: '{{ $variants.Params.stock }}',
            image: '{{ $variants.Params.image_src}}',
            options: {
            {{ if $variants.Params.option1_name}}{{ $variants.Params.option1_name}} : '{{ $variants.Params.option1_value}}',{{end}}
            {{ if $variants.Params.option2_name}}{{ $variants.Params.option2_name}} : '{{ $variants.Params.option2_value}}',{{end}}
            {{ if $variants.Params.option3_name}}{{ $variants.Params.option3_name}} : '{{ $variants.Params.option3_value}}'{{end}}
            }
        },
        {{ end }}
        {{ if .Resources }}
            {{ $image := string .Params.image_src }}
            {{ $original := .Resources.GetMatch $image }}
            {{ $image295w := $original.Resize "295x" }}
            {{ $image394w := $original.Resize "394x" }}
            {{ $image590w := $original.Resize "590x" }}
            {{ $image700w := $original.Resize "700x" }}
            {{ $image800w := $original.Resize "800x" }}
            {{ $image1000w := $original.Resize "1000x" }}
            {{ $image1200w := $original.Resize "1200x" }}
            {{ $image1500w := $original.Resize "1500x" }}
            {{ $image1800w := $original.Resize "1800x" }}
            {{ $image2400w := $original.Resize "2400x" }}
                image295w: '{{ $image295w.RelPermalink }}',
                image394w: '{{ $image394w.RelPermalink }}',
                image590w: '{{ $image590w.RelPermalink }}',
                image700w: '{{ $image700w.RelPermalink }}',
                image800w: '{{ $image800w.RelPermalink }}',
                image1000w: '{{ $image1000w.RelPermalink }}',
                image1200w: '{{ $image1200w.RelPermalink }}',
                image1500w: '{{ $image1500w.RelPermalink }}',
                image1800w: '{{ $image1800w.RelPermalink }}',
                image2400w: '{{ $image2400w.RelPermalink }}',
        {{ end }}
        title: '{{.Title}}',
        url: '{{.Params.url  }}',
        id: '{{.Params.variant_sku }}',
        retail: '{{.Params.retail}}',
        price: '{{.Params.variant_price}}',
        description: '{{.Params.description}}',
        quantity: '1',
        stock: '{{ .Params.variant_inventory_qty }}',
        tab: 'content'    
        }">
    
    
    
    <div class="col-span-1  ">
        {{/*  If there is a gallery but no variants images  */}}
        {{ if .Params.gallery }}
            {{/*  GALLERY THUMBNAILS  */}} {{ partial "product_page_thumbnails.html" (dict "context" . "ImagesResources" .Resources) }}
    
            {{/*  GALLERY PRODUCT */}} {{ partial "product_page_gallery.html" . }}
    
    {{/*  If there are variants images  */}}        
        {{ else if gt (len .Pages) 1 }} 
    
            {{/*  GALLERY THUMBNAILS  */}} {{ partial "product_page_thumbnails_option_one.html" (dict "context" . "ImagesResources" .Resources) }}
    
            {{/*  GALLERY PRODUCT */}} {{ partial "product_page_gallery.html" . }}
    
    {{/*  If there are no variants images  */}}  
        {{ else }}
    
             {{/*  SINGLE PRODUCT IMAGE   */}} {{ partial "resources_product_single_image_resize.html" (dict "context" . "ImagesResources" .Resources)}}
        
        {{ end }}
    </div>
    
    
    
    <div class="col-span-1 flex items-center px-16 ">
    
    <div class="w-full px-10">

    {{/*  TITLE   */}} <div class="col-span-2 col-start-1 row-start-1 pl-8 text-left"> <h2 class="text-2xl  mb-2 " >{{ .Title }}</h2> </div>
    
    {{/*  PRICE  */}}
    <div class="flex items-baseline mb-2 justify-start md:justify-left">
   {{/*  PRICE     */}} {{ partial "product_page_price.html" . }}
    </div>
    
    
    {{/*  Options block  */}}
    <div class=" grid col-span-1 mt-8">
        <div class="flex justify-start col-span-1 mb-4">
    
            {{/*  OPTIONS   */}} {{ partial "products_page_options.html" (dict "context" . "numberVariants" $numberVariants "ImagesResources" $.Resources  "default_variant" ($.Scratch.Get "default_variant") ) }}
    
    </div>
    {{/*  end options block  */}}
    </div>
    </div>
    </div>
    </div>
    
    
    
    {{ end }}                                       
    
    
    
    
    
        </div>
</div>