
  <header class="w-full bg-gray-100">

      <div class="header--logo flex justify-start w-full py-6 px-4">
    <a class="header__branding " href="/">
        <img class="logo-image flex" src="//cdn.shopify.com/s/files/1/0289/0326/files/delii_x45.png?v=1559925588" srcset="//cdn.shopify.com/s/files/1/0289/0326/files/delii_x45.png?v=1559925588 1x,
        //cdn.shopify.com/s/files/1/0289/0326/files/delii_x45@2x.png?v=1559925588 2x" alt="Deli - Blockshop Shopify Theme" itemprop="logo">
    </a>
</div>
    <div class="bottom-row w-full flex justify-between pb-6">
   


<div class="header--menus ">
    <!-- BEER types -->
    <div class="group inline-block">
        <button
          class="outline-none focus:outline-none  px-3 py-1 bg-gray-100 rounded-sm flex items-center min-w-32"
        >
          <span class="pr-1 flex-1">Beer types</span>
          <span>
            <svg
              class="fill-current h-4 w-4 transform group-hover:-rotate-180
              transition duration-150 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <ul
          class="bg-gray-100  rounded-sm transform scale-0 group-hover:scale-100 absolute 
        transition duration-150 ease-in-out origin-top min-w-32 max-height-80 flex flex-wrap p-8 font-md"
        >

                {{ range .Site.Taxonomies.beer_types }}
                    <li class="flex-1 rounded-sm px-3 py-1 bg-gray-100">
                        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}({{ .Count }})</a> 
                    </li>
                {{ end }}


        </ul>
      </div>


      
<!-- Breweries -->
      <div class="group inline-block">
        <button
          class="outline-none focus:outline-none  px-3 py-1 bg-gray-100 rounded-sm flex items-center min-w-32"
        >
          <span class="pr-1  flex-1">Breweries</span>
          <span>
            <svg
              class="fill-current h-4 w-4 transform group-hover:-rotate-180
              transition duration-150 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <ul
          class="bg-gray-100  rounded-sm transform scale-0 group-hover:scale-100 absolute 
        transition duration-150 ease-in-out origin-top min-w-32"
        >

        {{ range .Site.Taxonomies.breweries }}
            <li class="rounded-sm px-3 py-1 bg-gray-100">
                <a href="{{ .Page.Permalink }}"><img src="/uploads/breweries/{{ .Page.Params.brand | urlize }}.jpg" alt="{{ .Page.Params.brand}} -  brewery">
                    {{ .Page.Params.brand }}</a>
            </li>
        {{ end }}


        </ul>
      </div>

      <div class="group inline-block">
        <button
          class="outline-none focus:outline-none  px-3 py-1 bg-gray-100 rounded-sm flex items-center min-w-32"
        >
          <span class="pr-1  flex-1">{{ i18n "collections"}}</span>
          <span>
            <svg
              class="fill-current h-4 w-4 transform group-hover:-rotate-180
              transition duration-150 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <ul
          class="bg-gray-100  rounded-sm transform scale-0 group-hover:scale-100 absolute 
        transition duration-150 ease-in-out origin-top min-w-32"
        >

        {{ range .Site.Taxonomies.collections }}
            <li class="rounded-sm px-3 py-1 bg-gray-100">
                <a href="{{ .Page.Permalink }}">{{ .Page.Params.Title }}</a>
            </li>
        {{ end }}


        </ul>
      </div>

      <style>
        /* since nested groupes are not supported we have to use 
           regular css for the nested dropdowns 
        */
        li>ul                 { transform: translatex(100%) scale(0) }
        li:hover>ul           { transform: translatex(101%) scale(1) }
        li > button svg       { transform: rotate(-90deg) }
        li:hover > button svg { transform: rotate(-270deg) }
      
        /* Below styles fake what can be achieved with the tailwind config
           you need to add the group-hover variant to scale and define your custom
           min width style.
             See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
             for implementation with config file
        */
        .group:hover .group-hover\:scale-100 { transform: scale(1) }
        .group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
        .scale-0 { transform: scale(0) }
        .min-w-32 { min-width: 8rem }
      </style>
    </div>
    <div>
        <ul class="language-list">
            {{ range $.Site.Home.AllTranslations }}
            <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
            {{ end }}
        </ul>
    </div>
    <div class="header__cart">
      <a href="#" class="snipcart-checkout" style="text-decoration: none;">
        <div class="snipcart-summary">
          <img src="/images/icons/cart.svg" alt="">
          <span class="snipcart-total-price"></span>
        </div>
      </a>
    </div>

</div>
  </header>

  {{ partial "breadcrumb.html" . }}