<div class="hidden md:block header--menus ">

    {{/* LANGUAGE */}}
    <div class="w-full bg-black py-2">
        {{ range $.Site.Home.AllTranslations }}
       <a class="text-white" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
    </div>

        {{/* LOGO */}}

    <div class="justify-start py-6 px-4">
      <a class="" href="/">
        <img
          class="flex"
          src="//cdn.shopify.com/s/files/1/0289/0326/files/delii_x45.png?v=1559925588"
          srcset="
            //cdn.shopify.com/s/files/1/0289/0326/files/delii_x45.png?v=1559925588    1x,
            //cdn.shopify.com/s/files/1/0289/0326/files/delii_x45@2x.png?v=1559925588 2x
          "
          alt="Deli - Blockshop Shopify Theme"
          itemprop="logo"
        />
      </a>
    </div>
        <div class="group inline-block">

            <a href="/blog">Blog</a>
        </div>


    
    <!-- BEER types -->
    <div class="group inline-block">
        <button
          class="outline-none focus:outline-none  px-3 py-1 bg-gray-100 rounded-sm flex items-center min-w-32"
        >
          <span class="pr-1 flex-1">Beer types</span>
          <span>
            <svg
              class="fill-current h-4 w-4 transform group-hover:-rotate-180
              transition duration-150 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <ul
          class="bg-gray-100  rounded-sm transform scale-0 group-hover:scale-100 absolute 
        transition duration-150 ease-in-out origin-top min-w-32 max-height-80 flex flex-wrap p-8 font-md"
        >

                {{ range .Site.Taxonomies.beer_types }}
                    <li class="flex-1 rounded-sm px-3 py-1 bg-gray-100">
                        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}({{ .Count }})</a> 
                    </li>
                {{ end }}


        </ul>
      </div>


      
<!-- Breweries -->
      <div class="group inline-block">
        <button
          class="outline-none focus:outline-none  px-3 py-1 bg-gray-100 rounded-sm flex items-center min-w-32"
        >
          <span class="pr-1  flex-1">Breweries</span>
          <span>
            <svg
              class="fill-current h-4 w-4 transform group-hover:-rotate-180
              transition duration-150 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <ul
          class="bg-gray-100  rounded-sm transform scale-0 group-hover:scale-100 absolute 
        transition duration-150 ease-in-out origin-top min-w-32"
        >

        {{ range .Site.Taxonomies.breweries }}
            <li class="rounded-sm px-3 py-1 bg-gray-100">
                <a href="{{ .Page.Permalink }}"><img src="/uploads/breweries/{{ .Page.Params.brand | urlize }}.jpg" alt="{{ .Page.Params.brand}} -  brewery">
                    {{ .Page.Params.brand }}</a>
            </li>
        {{ end }}


        </ul>
      </div>

      <div class="group inline-block">
        <button
          class="outline-none focus:outline-none  px-3 py-1 bg-gray-100 rounded-sm flex items-center min-w-32"
        >
          <span class="pr-1  flex-1">{{ i18n "collections"}}</span>
          <span>
            <svg
              class="fill-current h-4 w-4 transform group-hover:-rotate-180
              transition duration-150 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <ul
          class="bg-gray-100  rounded-sm transform scale-0 group-hover:scale-100 absolute 
        transition duration-150 ease-in-out origin-top min-w-32"
        >

        {{ range .Site.Taxonomies.collections }}
            <li class="rounded-sm px-3 py-1 bg-gray-100">
                <a href="{{ .Page.Permalink }}">{{ .Page.Params.Title }}</a>
            </li>
        {{ end }}


        </ul>
      </div>


          {{/* SNIPCART CART */}}

    <div class="w-4 h-4">
      <a href="#" class="snipcart-checkout" style="text-decoration: none">
        <div class="snipcart-summary">
                <svg class="fill-current text-black" viewBox="0 0 21 20">
            <path d="M16.731 19.393a1.4 1.4 0 110-2.8 1.4 1.4 0 010 2.8zm-9.74 0a1.4 1.4 0 110-2.8 1.4 1.4 0 010 2.8zM2.534 1.9H1A.9.9 0 011 .1h2.277a.9.9 0 01.883.73l.469 2.422h15.14a.9.9 0 01.876 1.105l-2.203 9.445a.9.9 0 01-.876.695H5.712a.9.9 0 01-.884-.729L2.534 1.9zm16.1 3.152H4.977l1.477 7.645h10.397l1.783-7.645z" fill-rule="evenodd"></path>
            </svg>
          <span class="snipcart-total-items text-black"></span>
        </div>
      </a>
    </div>




      <style>
        /* since nested groupes are not supported we have to use 
           regular css for the nested dropdowns 
        */
        li>ul                 { transform: translatex(100%) scale(0) }
        li:hover>ul           { transform: translatex(101%) scale(1) }
        li > button svg       { transform: rotate(-90deg) }
        li:hover > button svg { transform: rotate(-270deg) }
      
        /* Below styles fake what can be achieved with the tailwind config
           you need to add the group-hover variant to scale and define your custom
           min width style.
             See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
             for implementation with config file
        */
        .group:hover .group-hover\:scale-100 { transform: scale(1) }
        .group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
        .scale-0 { transform: scale(0) }
        .min-w-32 { min-width: 8rem }
      </style>
    </div>