{{ $currentPage := .currentPage }}
<div 
    x-show="submenu_1"
    class="absolute top-0 bottom-0 block -translate-x-full rounded-sm h-full w-full bg-white">
    <div class="font-robmono px-3 py-5 border-b border-t border-gray-300 w-full text-center flex justify-start items-center" @click=" submenu_1 = !submenu_1 ">
        <svg class="fill-current h-4 w-4 transform rotate-180 justify-self-start " viewBox="0 0 8 14">
            <path d="M6.274 7.202L.408 1.336l.707-.707 6.573 6.573-.096.096-6.573 6.573-.707-.707 5.962-5.962z" fill-rule="nonzero"></path>
          </svg>                                
        <div class="flex-1">Back</div>    
    </div>
    <div class="flex flex-col" >
    {{ range .menu }}    
<a class="font-robmono px-3 py-5 border-b border-gray-300 w-full" href="{{ .URL }}"> {{ .Name }}</a>
{{ end }}
</div>
</div>