<div class="product">
  <h2 class="product__name"><a href="{{ .url }}">{{ .name }}</a></h2>

  <img class="product__image" src="/uploads/{{ .image }}" alt="" />
  <p class="product__description">{{ .description }}</p>
  <div class="product__button-container">
    <div class="product__price">€{{ .price }}</div>
    <button
      class="snipcart-add-item buy-button"
      data-item-name="{{.name}}"
      data-item-id="{{.id}}"
      data-item-price="{{.price}}"
      data-item-description="{{.description}}"
      data-item-image="{{.image}}"
      data-item-price="{{.price}}"
      data-item-language="{{.language}}"
      data-item-alchohol="{{.alchohol}}"
      data-item-product_types="{{.product_types}}"
      data-item-brewery="{{.brewery}}"
      data-item-promotion="{{.promotion}}"
      data-item-beer_types="{{.beer_types}}"
      data-item-retail_price="{{.retail_price}}"
      data-item-discount="{{.discount}}"
      data-item-description_short="{{.description_short}}"
    >
      Add to cart
    </button>
  </div>
</div>
