<div 
    class=" py-8
    grid 
    grid-cols-3
    grid-rows-1
    "    
    style=""
    x-data="{ 
    {{ $.Scratch.Set "default_variant" .Params.variant_sku }}
    {{.Params.variant_sku }}: true,
    title: '{{ replace .Title "'"  ""  }}',
    url: '{{ with .File }}{{ .Dir }}{{ end }}',
    id: '{{.Params.variant_sku }}',
    retail: '{{.Params.retail}}',
    price: '{{.Params.variant_price}}',
    {{ partial "resources_image_resize_xdata.html" (dict "context" . "ImagesResources" $.Resources ) }}
    description: '{{.Params.description}}',
    quantity: '1',
    option1Name: '{{.Params.option1_name}}',
    option1Value: '{{.Params.option1_value}}',
    stock: '{{ .Params.variant_inventory_qty }}',
    tab: 'content'
    }"

    {{/* only for variants x-init="$refs.{{ .Params.variant_sku }}.click()"  */}}
    >
