<div class="product">
  <h2 class="product__name">{{ .name }}</h2>
  <img class="product__image" src="{{ .image }}" alt="">
  <p class="product__description">{{ .description }}</p>
  <div class="product__button-container">
    <div class="product__price">€{{ .price }}</div>
    <button
      class="snipcart-add-item buy-button"
data-item-name = "{{.name}}"
data-item-id = "{{.id}}"
data-item-price = "{{.price}}"
data-item-url = "{{.product_url}}"
data-item-description = "{{.description}}"
data-item-image = "{{.image}}"
data-item-categories = "{{.categories}}"
data-item-metadata = "{{.metadata}}"
data-item-weight = "{{.weight}}"
data-item-length = "{{.length}}"
data-item-height = "{{.height}}"
data-item-width = "{{.width}}"
data-item-quantity = "{{.quantity}}"
data-item-max-quantity = "{{.max quantity}}"
data-item-min-quantity = "{{.min quantity}}"
data-item-stackable = "{{.stackable}}"
data-item-quantity-step = "{{.quantity step}}"
data-item-shippable = "{{.shippable}}"
data-item-taxable = "{{.taxable}}"
data-item-taxes = "{{.taxes}}"
data-item-has-taxes-included = "{{.has taxes included}}"
data-item-price-{alternatePriceList} = "{{.price}}"
data-item-file-guid = "{{.file guid}}"
data-item-custom1-name = "{{.custom_field_name}}"
data-item-custom1-options = "{{.custom_field_options}}"
data-item-custom1-type = "{{.custom_field_type}}"
data-item-custom1-value = "{{.custom_field_ value}}"
data-item-custom1-required = "{{.custom_field_required for the order}}"
data-item-custom1-placeholder = "{{.custom_field_placeholder}}"
data-item-custom2-name = "{{.custom_field_name}}"
data-item-custom2-options = "{{.custom_field_options}}"
data-item-custom2-type = "{{.custom_field_type}}"
data-item-custom2-value = "{{.custom_field_ value}}"
data-item-custom2-required = "{{.custom_field_required for the order}}"
data-item-custom2-placeholder = "{{.custom_field_placeholder}}"
data-item-custom3-name = "{{.custom_field_name}}"
data-item-custom3-options = "{{.custom_field_options}}"
data-item-custom3-type = "{{.custom_field_type}}"
data-item-custom3-value = "{{.custom_field_ value}}"
data-item-custom3-required = "{{.custom_field_required for the order}}"
data-item-custom3-placeholder = "{{.custom_field_placeholder}}"
data-item-metadata = "{{.metadata}}"
      >
      Add to cart
    </button>
  </div>
</div>