{{ $numberVariants := .numberVariants }}
<div class="flex flex-col">
    {{ if gt $numberVariants 1 }}
    <div class="selection mb-4">
        {{/*  OPTIONS  */}}
        <div class="flex justify-start flex-wrap">
            {{ $options1 := slice }}   
            {{ $options2 := slice }}      
            {{ range .context.Pages  }}   
                {{ $options1 = $options1 | append .Params.option1_value }}
                {{ $options2 = $options2 | append .Params.option2_value }}
            
            {{ end }} 
            {{ $options1_name := $options1 | uniq }} 
            {{ $options2_name := $options2 | uniq }} 
    {{/*  OPTIONS TITLE   */}}
                {{ with .context.Params.option1_name }}
                    <div class="w-full font-robmono uppercase text-sm py-4"> {{.}}</div>
                {{ end}}
    {{/*  OPTIONS BUTTONS  */}}  
            <div class="flex">
                {{ range $options1_name }}        
                    <label for="{{ . | urlize }}" >
                        <input 
                            x-model="option1"
                            id="option1"
                            @click="price = (options_json[option1][option2]) "
                            value="{{ . }}"
                            class=" input__field" 
                            name="option1" 
                            id="{{ . | urlize }}" 
                            type="radio" >
                        <div class="button 
                            cursor-pointer mr-4
                            border-2 border-gray-200 
                            text-gray-800  text-sm uppercase
                            flex items-center justify-center
                            px-4 py-3 
                            hover:border-gray-800 hover:text-gray-800
                            ">
                            {{ . }}
                        </div>                        
                    </label>                        
                {{ end }}
            </div>
    {{/*  OPTIONS TITLE   */}}
                {{ with .context.Params.option2_name }}
                    <div class="w-full font-robmono uppercase text-sm py-4"> {{.}}</div>
                {{ end}}
    {{/*  OPTIONS BUTTONS  */}}
            <div class="flex">  
                {{ range $options2_name }}
                <label for="{{ . | urlize }}" >
                    <input x-model="option2"
                    @click="price = (options_json[option1][option2]) "
                    value="{{ . }}"
                    id="option2"
                    class=" input__field" 
                    name="option2" 
                    id="{{ . | urlize }}" type="radio" >
                    <div class="
                            button 
                        cursor-pointer mr-4
                        border-2 border-gray-200 
                        text-gray-800  text-sm uppercase
                        flex items-center justify-center
                        px-4 py-3 
                        hover:border-gray-800 hover:text-gray-800
                    ">
                        {{ . }}
                    </div>                        
                </label>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end}}
    {{ partial "products_snipcart_button.html" . }}
</div>




