<!-- layouts/partials/search.html -->
{{/*  https://gist.github.com/Arty2/8b0c43581013753438a3d35c15091a9f  */}}





<style>
	#search-form {

	}


	#search-submit {
		display: block;
		margin: 0 var(--icon-pad, 0.1rem) 0 0;
		padding: 0;
		width:       var(--icon-size, 1.2rem);
		height:      var(--icon-size, 1.2rem);
		line-height: var(--icon-size, 1.2rem);

		background: inherit;
		color: inherit;
	}

	#search-submit:hover,
	#search-submit:focus {
		color: rgb(var(--accent-color, '0,0,255'));
	}

	#search-results {
		

		scrollbar-color: rgb(var(--text-color, '3,3,3')) rgb(var(--page-color, '240,240,240')) !important;
		scrollbar-width: thin !important;
	}

	#search-results:empty {
		display: none;
		opacity: 0;
	}

	#search-results li {

	}
		#search-results li:first-child {
			border: none;
		}

	#search-results a {
		display: block;
		padding: 0.3rem;
		display: block;

		text-decoration: none;
	}

	#search-results a:hover,
	#search-results a:focus {
		background: rgb(var(--text-color, '3,3,3'));
		color: rgb(var(--page-color, '240,240,240'));
		outline: 0;
	}

	#search-results a:active {
		background: rgb(var(--accent-color, '0,0,255'));
		color: rgb(var(--page-color, '240,240,240'));
	}

	#search-results li span:empty {
		display: none;
	}

	#search-results li span:not(:last-child)::after {
		content: ' – ';
	}

	#search-results li .title {
		display: block;
		margin-bottom: calc(var(--line-height, 1.4em)/3);
	}

	#search-results li .title::after {
		display: none;
	}
</style>