  <!-- Swiper -->
  <div class="swiper-container productspromoted">
    <div class="swiper-wrapper">
        
    {{ range  .Site.Taxonomies.promotions.fiveplusone }}

            <a class="swiper-slide flex-col w-24" href="{{ .Permalink }}" style="max-width: 320px;">
                <img src="/uploads/beers/{{.Params.image}}" alt="">
                <div >{{.Params.name}}</div>
                </a>
    {{ end }}
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next productspromoted"></div>
    <div class="swiper-button-prev productspromoted"></div>
  </div>


