<!-- Swiper -->
<div class="swiper-container productspromoted">

<div class="swiper-wrapper">
<h2>Popular thiw week</h2>
{{ range .Site.Taxonomies.promotions.fivepluone  }}
{{.}}
    {{ range where .Pages "Params.products_list" "true" }}
            {{ range .Translations }}
            <div class="w-1/5 p-4">
                <a class="swiper-slide flex-col w-24" href="{{ "products/" | relLangURL }}{{.Params.products }}" style="max-width: 320px;"></a>
                <div class="h-90 mb-4 ">
                    <img src="/uploads/beers/{{.Params.image}}" alt="">
                </div>
                <div class="text-center">{{ .Params.name }}</div>
                <div class="text-center">{{ .Params.price }}</div>
                </a>
            </div>
            {{ end }}
            {{ end }}
    {{ end }}
</div>

<!-- Add Arrows -->
<div class="swiper-button-next productspromoted"></div>
<div class="swiper-button-prev productspromoted"></div>
</div>


