<button
class="snipcart-add-item buy-button"
data-item-url="{{.Permalink }}"
data-item-name="{{.Params.name}}"
data-item-id="{{.Params.id}}"
data-item-price="{{.Params.price}}"
data-item-description="{{.Params.description}}"
data-item-image="/uploads/beers/{{.Params.image}}"
data-item-price="{{.Params.price}}"
data-item-language="{{.Params.language}}"
data-item-alchohol="{{.Params.alchohol}}"
data-item-product_types="{{.Params.product_types}}"
data-item-brewery="{{.Params.brewery}}"
data-item-promotion="{{.Params.promotion}}"
data-item-beer_types="{{.Params.beer_types}}"
data-item-retail_price="{{.Params.retail_price}}"
data-item-discount="{{.Params.discount}}"
data-item-description_short="{{.Params.description_short}}"
>
Add to cart
</button>