{{ define "main" }}


<div class="product ">
    <h2 class="product__name">{{ .Params.name }}</h2>
  
    <img class="product__image" src="/uploads/beers/{{ .Params.image }}" alt="" />

    <ul id="tags">
        {{ range $title := .Params.breweries }}
        <li class="rounded-sm px-3 py-1 bg-gray-100">
            <a href="/breweries/{{ . | urlize }}">{{ $title }}</a>
        </li>
    {{ end }}

      </ul>


    <p class="product__description">{{ .Content }}</p>


    <div class="product__button-container">
      <div class="product__price">€{{ .Params.price }}</div>
      <button
        class="snipcart-add-item buy-button"
        data-item-name="{{.Params.name}}"
        data-item-id="{{.Params.id}}"
        data-item-price="{{.Params.price}}"
        data-item-description="{{.Params.description}}"
        data-item-image="{{.Params.image}}"
        data-item-price="{{.Params.price}}"
        data-item-language="{{.Params.language}}"
        data-item-alchohol="{{.Params.alchohol}}"
        data-item-product_types="{{.Params.product_types}}"
        data-item-brewery="{{.Params.brewery}}"
        data-item-promotion="{{.Params.promotion}}"
        data-item-beer_types="{{.Params.beer_types}}"
        data-item-retail_price="{{.Params.retail_price}}"
        data-item-discount="{{.Params.discount}}"
        data-item-description_short="{{.Params.description_short}}"
      >
        Add to cart
      </button>
    </div>

  </div>

  {{ end }}