
{{ define "main" }}
test terms template collections
{{.}}

<div class="flex ">
    {{ range .Data.Pages }}
            {{ range where .Pages "Params.products_list" "true" }}
            {{ range .Translations }}
            <div class="w-1/5 p-4">
                <a href="{{ "products/" | relLangURL }}{{.Params.products }}">
                <div class="h-90 mb-4 ">
                    <img src="/uploads/beers/{{.Params.image}}" alt="">
                </div>
                <div class="text-center">{{ .Params.name }}</div>
                <div class="text-center">{{ .Params.price }}</div>
                </a>
            </div>
            {{ end }}
            {{ end }}
    {{ end }}
</div>
{{ end }}